.post{
  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
  padding: 15px 25px;
  margin-bottom: 15px;
  h2, p{
    text-align: center;
  }
  h2{
    text-transform: capitalize;
  }
  &.content-red{
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
  &.content-green{
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }
  &.content-yellow{
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
  }
  &.content-blue{
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
  }
}
