<form>
  <div class="form-group">
    <label for="searchByContent">Rechercher par titre/contenu :</label>
    <input type="text" id="searchByContent" (ngModelChange)="onChangeContent($event)" [(ngModel)]="contentToFilter" name="content" />
  </div>
  <div class="form-group">
    <label for="searchByAuthor">Rechercher par auteur :</label>
    <select id="searchByAuthor" (ngModelChange)="onChangeAuthor($event)" [(ngModel)]="authorSelected" name="author">
      <option id="defaultOption" [value]="undefined">Tous les auteurs</option>
      <option *ngFor="let author of authors$ | async" [ngValue]="author">{{author.name}}</option>
    </select>
  </div>
</form>
